<ngb-carousel >
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper d-flex justify-content-center">
			<img src="https://picsum.photos/id/944/900/500" />
		</div>
		<div class="carousel-caption ">
			<h3>First slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper d-flex justify-content-center">
			<img src="https://lh3.googleusercontent.com/-eIvQ-lX5qJY/YUunIireB8I/AAAAAAACMbg/FJBXWf9vXO4rySs2t5JXuji0DQQ1lyOYwCLcBGAsYHQ/s1600/1632347913357946-7.png" />
		</div>
		<div class="carousel-caption">
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper d-flex justify-content-center">
			<img src="https://lh3.googleusercontent.com/-JodVOUVYio4/YUx7N7RzorI/AAAAAAACMdM/7zOuL6cx9H86AmWqk0w_WVRUh2s4tALIwCLcBGAsYHQ/s1600/1632402229957098-3.png" />
		</div>
		<div class="carousel-caption">
			<h3>Third slide label</h3>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
		</div>
	</ng-template>
</ngb-carousel>
